/* .container-more{
    display: flex;
    justify-content: center;
  } */
  
  .image-zoom-recette{
    width: 420px;
    height: 400px !important;
    overflow: hidden;
    padding-bottom: 20px;
    border-radius: 0px 0px 53.5px 53.5px;
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img{
    width: 100%;
    transition: transform .8s;
  }


.card-recette-recette{
    display: flex;
    flex-direction: column;

}

.titre-therecette{
    display: flex;
    justify-content: center;
    text-align: justify;
    color: black;
}

.btnsTheRecette{
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;
}



